<h1>Students</h1>
<% @students.each do |student| %>
  <section id="student-<%= student.id %>">
    <h2 class='student-name'><%= student.name %></h2>
    Num of professors: <%= student.professor_count %>
  </section>
<% end %>