<h1>All Students</h1>

<% @students.each do |student| %>
<p id=name>
  <b>Name:</b> <%= link_to "#{student.name}", "/students/#{student.id}" %>,
  <b>Professors:</b> <%= student.professors.count %>
  <br><br>
  </p>
  <% end %>
