<h1>Students</h1>

<% sorted_students = @students.sort_by { |student| student.name } %>

<% sorted_students.each do |student| %>
  <p><%= "#{student.name}: #{student.professors.length}" %></p>
<% end %>
