<h1>Hogwarts Students and Number Of Professors</h1>
<ul class=student-names>
<% @students.order(:name).each do |student| %>
<li><p><%= student.name %>: <%= student.professors.count %></p></li>
<% end %>
</ul>
