<h1>Students for Teacher</h1>

<p>Average Age: <%= ProfessorStudent.average_age(params[:professor_id]) %></p>

<% students = ProfessorStudent.students(params[:professor_id]) %>

<ul>
<% students.each do |student| %>
  <li><%= student %></li>
<% end %>
</ul>
