<h2>Hogwarts Professors</h2>
<p>
<% @professors.each do |professor| %>
Name: <%= link_to "#{professor.name}", "/professors/#{professor.id}" %><br>
Age: <%= professor.age %><br>
Specialty: <%= professor.specialty %><br><br>
<% end %></p>
