<h1> This Terms Professors </h1>

<% @professors.each do |professor| %>

<h2> Name: <%=  professor.name %><br> </h2>
Age: <%= professor.age %><br>
Specialtiy: <%=  professor.specialty %><br>

<% end %>