<h1>All Professors</h1>

<p id=name>
<% @professors.each do |professor| %>
  <b>Name:</b> <%= professor.name %>
  <b>Age:</b> <%= professor.age %>
  <b>Specialty:</b> <%= professor.specialty %>
  <br></br>
  <% end %>
  </p>
