<h2>Professors Index</h2>

<ul id='professor-list'>
  <% @professors.sort_alphabetically_by_name.each do |professor| %>
    <li id="professor-<%= professor.id %>">
      Name: <%= professor.name %>
      Age: <%= professor.age %>
      Specialty: <%= professor.specialty %>
    </li>
  <% end %>
</ul>
