<h1>All the Profs</h1>
<p><% @professors.each do |professor| %></p>
<h3>Name: <%= professor.name %> </h3>
<p>Age: <%= professor.age %> </p>
<p>Specialty: <%= professor.specialty %> </p>
<br>
<% end %>
