
<table>
  <% @professors.each do |professor| %>
  <tr id = "<%=professor.id%>">
    <td> <%=professor.name%> </td>
    <td> <%=professor.age%> </td>
    <td> <%=professor.specialty%> </td>
  </tr>
  <% end %>
</table>
