<h1>Professors</h1>

<% sorted_professors = @professors.sort_by { |professor| professor.name} %>

<section id='professor-info'>
  <% sorted_professors.each do |professor| %>
    <p><%= "Name: #{professor.name}, Age: #{professor.age}, Specialty: #{professor.specialty}" %>
  <% end %>
</section>
