<h1>All Professors</h1>


<% @professors.each do |professor| %>
<p id=name>
  <b>Name:</b> <%= link_to "#{professor.name}", "/professors/#{professor.id}" %>
  <b>Age:</b> <%= professor.age %>
  <b>Specialty:</b> <%= professor.specialty %>
  <br><br>
  </p>
  <% end %>
