<h1>Professors</h1>
<% @professors.each do |professor| %>
<section id="professor-<%=professor.id%>">
  <p>Name: <%= professor.name %> </p>
  <p>Age: <%= professor.age %> </p>
  <p>Specialty: <%= professor.specialty %> </p>
</section>
<% end %>
