<h1>Professors</h1>

<% @professors.each do |professor| %>
  <section id="professor-<%= professor.id %>">
  <h3 class="name"><%= professor.name %></h3>
  <p class="age">Age: <%= professor.age %></p>
  <p class="specialty">Specialty: <%= professor.specialty %></p>
</section>
<% end %>
