<h1> Accio Professors </h1>

<% @professors.each do |professor| %>
  <h2> <%= professor.name %></h2>
  <p> Age: <%= professor.age %></p>
  <p> Specialty: <%= professor.specialty %></p>
  <br>
  <br>
<% end %>
