<h1>Professors</h1>
<% @professors.each do |professor| %>
  <section id="professor-<%= professor.id %>">
    <%= professor.name %>
    <%= professor.age %>
    <%= professor.specialty %>
  </section>
<% end %>