<h1>Professors</h1>
<% @professors.each do |professor| %>
  <section id="professor-<%= professor.id %>">
    <h2 class='professor-name'><%= professor.name %></h2>
    <%= professor.age %>
    <%= professor.specialty %>
  </section>
<% end %>