<h1>The Professors</h1>

<div>
  <% @professors.each do |professor| %>
    <section class="professor">
      <h3><%= professor.name %></h3>
      <p><%= professor.age %><br>
      <%= professor.specialty %><br></p>
    </section>
  <% end %>
</div>