<% @professors.sort_alpha.each do |professor| %>
  <ul>
    <li>Name: <%= professor.name %></li>
    <p>Age: <%= professor.age %></p>
    <p>Specialty: <%= professor.specialty %></p>
  </ul>
<% end %>
