<% @professor.students.sort_alpha.each do |student| %>
  <section>
    <ul>
      <li> <%= student.name %></li>
    </ul>
  </section>
<% end %>

<p>Average Age: <%= @professor.students.average_age %></p>
