<h1>Professor's Students</h1>

<section>
  <h3>Students</h3>
 <% @professor.students.each do |student| %>
  <p><%= student.name %></p>
  <% end %>

  <h3 id="average-student-age">Average Age: <%= @professor.average_age%></h3>
</section>