<h1>Professor <%= @professor.name %>'s Page</h1>
<h2 id='students'>Average Student Age: <%= @professor.avg_student_age %></h2>

<% if @professor.students.size != 0 %>
  <section id='student-dtls'>
    <h2>Student Names:</h2>
    <% @professor.students.each do |student|%>
      <p id="student-<%= student.id %>">
      <%= student.name%><br>
      </p>
      <br>
    <% end%>
  </section>
<% end%>
