<h1>All students in <% @professor.name %>'s class</h1>
<h3>Average student age: <%= @average_age %></h3>

<% @professor.students.each do |student| %>
  <section>
    <%= student.name %>
  </section>
<% end %>
