<h1><%= @professor.name %></h1>

<h2><%= @professor.name %>'s Students</h2>
<% @professor.students.each do |student| %>
  <%= student.name %>
<% end %>

<%= "Average Age of Students: #{@professor.avg_student_age}" %>
