<h1><%= @professor.name %></h1>

<h2>Students</h2>
<ul>
<% @professor.students.order(:name).each do |student| %>
  <li><%= student.name %></li>
<% end %>
</ul>
<p>Average Age: <%= @professor.students.average(:age).to_f %></p>
