<h2>Professor's Home Page</h2>
<h3>All Students</h3>
<p><% @professor.students.each do |student| %></p>
  <p><%= student.name %></p>
<% end %>

<p>Average Student Age: <%= @professor.students.average_student_age %></p>
