<h1><%=@professor.name%>'s Students </h1>

<ul>
<% @professor.students.each do |student| %>
<li><%= link_to "#{student.name}", "students/#{student.id}" %></li>
<% end %>
</ul>
<h3>Average Age of All Students:
  <%= @professor.average %></h3>
