<h1>Professor <%=@professor.name%>'s Students:</h1>
  <% @professor.students.each do |student| %>
    <%= student.name %>
    <br>
  <% end %>
  <p>Average Student Age: <%=Professor.average_student_age %></p>
