<h1> <%= @professor.name %></h1>

<h2> Enrolled Students</h2>

<% @professor.students.each do |student| %>
<hr>
<h3><%= student.name %></h3>
  <h4>Average Age: <%= @professor.student_average_age %></h4>
<% end %>
