<%= content_tag :h1, "Professor #{@professor.name}" %>
<%= content_tag :h3, "Students:" %>
<% @students.each do |student| %>
  <div class='student' id='student-<%= student.id %>'>
    <%= content_tag :p, student.name %>
  </div>
<% end %>
