<h1>Professor: <%=@professor.name%> </h1>
<h2>Specialty: <%=@professor.specialty%> </h2>
<h2>Students</h2>
<% @professor.students.each do |student| %>
<p><%= student.name %></p>
<% end %>
<p>Average Student Age: <%=@professor.average_student_age%> </p>
