<h1><%= "#{@professor.name.upcase}'S STUDENTS" %></h1>
<h3><%= "Average Age of Students: #{@professor.average_student_age}" %></h3>

<% @professor.students.each do |student| %>
  <p><%= student.name %></p>
<% end %>
