<h2><%= @professor.name %>'s Students</h2>

<section id="professor-<%= @professor.id %>">
  <% @professor.students.each do |student| %>
    <p><%= student.name %></p>
  <% end %>
</section>

<p/>Average Age: <%= @average %>
