<h2>Professors Show</h2>

<h3>Professor Student List</h3>

<ul id='professor-student-list'>
  <% @professor.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>

<h3 id='average-student-age'>Average Student Age: <%= @professor.average_student_age %></h3>
