<div id="professor-students">
<% @professor.students.order(:name).each do |student| %>
  <p><%= student.name %></p>
<% end %>
<p>Average student age: <%= @professor.students.average(:age) %></p>
</div>
